:root {
  --primary-color: #F9FAFB;
  --secondary-color: #2E7D32;
  --accent-color: #0288D1;
  --alertes-critique: #D32F2F;
  --alertes-moyen: #FBC02D;

  --typography-title: 'Poppins', sans-serif;
  --typography-common: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}